/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

.text-overlay
{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.text-overlay h1
{
  font-size: 6.6rem;
  white-space: nowrap;
  color: white;
}

.text-overlay h3
{
  font-size: 2.2rem;
  white-space: nowrap;
  color: white;
}

.text-overlay a {
  color: inherit;
  text-decoration: none;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("http://i.imgur.com/lJa0s0k.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
